a {
    text-decoration: none;
}

.bootstrap-link {
    width: 12vw;
    font-size: large;
    font-weight: bold;
    color: cadetblue !important;
    box-shadow: 2px 1px 1px grey;
}

@media(max-width: 768px) {
    .bootstrap-link {
        width: 35vw;
    }
}

.router-link {
    color: inherit;
}

.bootstrap-link:hover, .bootstrap-link.active {
    font-size: large;
    font-weight: bold;
    font-family: 'Architects Daughter';
    color: #233e8b !important;
    background-color: whitesmoke;
    box-shadow: inset 5px 3px 3px grey;
}

.router-link:hover, .router-link.active {
    color: inherit;
    text-decoration: inherit;
}
